@model List<Fail>

@{
    ViewData["Title"] = "Home Page";
}

@if (Model.Count() == 0)
{
    <p>No existen Fails para mostrar :( </p>
}
else
{

    <div class="row">
        @foreach (var Fail in Model)
        {
            <div class="col-4 text-center">
                
                <h2>@Fail.Titulo</h2>
                <p>@Fail.Usuario</p>
                <img src="@Fail.Foto" class="img-fluid" />
              

            </div>
        }


    </div>
    <br>
    <br>
    <br>
}
