@model Comentario


    <form method="POST">
        <div class="form-group">
            <label asp-for="Comentario">Comentario:</label>
            <textarea asp-for="ComentarioId" class="form-control"></textarea>
        </div>
        <button class="btn btn-primary">Subir Comentario</button>
    
    </form>
